<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42158838434-5flvmq9d27loppo7jlssvqqdk28cvpan.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42158838434-5flvmq9d27loppo7jlssvqqdk28cvpan</string>
	<key>API_KEY</key>
	<string>AIzaSyAtsnvBMaqFwcgQ4Qgq1kudWDetLygCQpw</string>
	<key>GCM_SENDER_ID</key>
	<string>42158838434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.posApp</string>
	<key>PROJECT_ID</key>
	<string>menu-digital-2a39e</string>
	<key>STORAGE_BUCKET</key>
	<string>menu-digital-2a39e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42158838434:ios:4302f2b2c4424ed30d3dfb</string>
	<key>DATABASE_URL</key>
	<string>https://menu-digital-2a39e-default-rtdb.firebaseio.com</string>
</dict>
</plist>